$primary-color: #ff0032;
$primary-color-hover: #d3032c;
$secondary-color: rgb(29, 32, 35);
$accent-color: rgb(242, 243, 247);
$accent-color-hover: rgb(204, 205, 207);
$additional-color: rgb(150, 159, 168);
$additional-color-hover: rgb(104, 110, 117);